@import "../../vendor/fonts/fonts.css";

.movie-card {
    background-color: #222222;
    border-radius: 6px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.08);
    display: grid;
    grid-gap: 18px 14px;
    grid-template-areas:
        "name duration"
        "link link"
        "button button";
    grid-template-columns: 230fr 90fr;
    padding: 18px 0;
}

.movie-card__name {
    align-self: end;
    color: #fff;
    grid-area: name;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    margin: 0;
    padding: 0 0 0 18px;
}

.movie-card__duration {
    align-self: end;
    color: #8B8B8B;
    grid-area: duration;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-size: 13px;
    font-weight: 400;
    justify-self: end;
    line-height: 1;
    margin: 0;
    padding: 0 18px 0 0;
}

.movie-card__link {
    grid-area: link;
}

.movie-card__image {
    display: block;
    height: 200px;
    object-fit: cover;
    object-position: center center;
    width: 100%;
}

@media (max-width: 1279px) {
    .movie-card__image {
        height: 190px;
    }
}

@media (max-width: 767px) {
    .movie-card {
        padding: 14px 0;
        row-gap: 14px;
    }

    .movie-card__image {
        height: 168px;
    }

    .movie-card__name {
        font-size: 12px;
        padding: 0 0 0 14px;
    }

    .movie-card__duration {
        font-size: 10px;
        font-weight: 400;
        padding: 0 14px 0 0;
    }
}
