.section-title {
    border-bottom: 1px solid #DADADA;
    color: #fff;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: -0.04em;
    line-height: 1;
    margin: 0;
    padding: 0 0 23px;
}