.profile {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    height: 100%;
}

@media (max-width: 424px) {
    .profile {
        grid-template-rows: auto 1fr auto;
    }
}