@import "../../vendor/fonts/fonts.css";

.profile-edit {
    background-color: #202020;
    display: flex;
    justify-content: center;
    padding: 123px 70px 16px;
}

.profile-edit__form {
    display: grid;
    grid-template-rows: auto 1fr auto;
    max-width: 410px;
    width: 100%;
}

.profile-edit__inputs-container {
    align-self: stretch;
    margin: 0 0 20px;
}

.profile-edit__input-container {
    align-items: end;
    border: none;
    border-bottom: 1px solid #424242;
    display: flex;
    justify-content: space-between;
    margin: 0 0 7px;
    padding: 0 0 16px;
}

.profile-edit__input-container:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.profile-edit__input-label {
    color: #fff;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-size: 11px;
    font-weight: 500;
    line-height: 1;
}

.profile-edit__input {
    background-color: transparent;
    border: none;
    color: #fff;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 1;
    max-width: 70%;
    text-align: right;
}

.profile-edit__input:focus {
    font-weight: 500;
    outline: none;
}

.profile-edit__input-error-message {
    color: crimson;
    display: block;
    margin: 0 0 10px;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-size: 11px;
    font-weight: 400;
}

.profile-edit__form-message {
    align-self: end;
    color: crimson;
    display: block;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin: 0 0 15px;
    justify-self: center;
}

.profile-edit__submit-button {
    align-self: center;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
    padding: 0;
    transition: all .2s;
}

.profile-edit__submit-button:hover {
    opacity: .6;
}

.profile-edit__submit-button_disabled {
    color: #8B8B8B;
}

.profile-edit__submit-button_disabled:hover {
    opacity: 1;
}

@media (max-width: 1279px) {
    .profile-edit {
        padding: 96px 30px 16px;
    }
}

@media (max-width: 767px) {
    .profile-edit {
        padding: 80px 30px 16px;
    }
}

@media (max-width: 424px) {
    .profile-edit__submit-button {
        font-size: 12px;
    }
}