.header {
    align-items: center;
    background-color: #073042;
    display: flex;
    justify-content: space-between;
    min-height: 74px;
    padding: 0 70px;
}

.header_logged-in {
    background-color: #202020;
}
