.page-with-form {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 70px 0;
    min-height: 100vh;
}

.page-with-form__container {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    height: 100%;
    margin: 0 auto;
    max-width: 396px;
    width: 100%;
}

@media (max-width: 424px) {
    .page-with-form {
        padding: 56px 30px 30px;
    }

    .page-with-form__container {
        grid-template-rows: auto 1fr auto;
    }
}

