@import "../../vendor/fonts/fonts.css";

.footer {
    background-color: #202020;
    display: grid;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-size: 13px;
    font-weight: 400;
    grid-template-areas:
        "title title"
        "year navigation";
    grid-template-columns: repeat(2, 1fr);
    line-height: 1;
    padding: 80px 70px 20px;
    row-gap: 20px;
}

.footer__title {
    border-bottom: 1px solid #424242;
    color: #8B8B8B;
    grid-area: title;
    margin: 0;
    text-align: center;
    padding: 0 0 20px;
}

.footer__year {
    color: #fff;
    grid-area: year;
    margin: 0;
}

.footer__navigation {
    justify-self: right;
    display: flex;
    grid-area: navigation;
}

.footer__link {
    color: #fff;
    display: block;
    margin-right: 20px;
    text-decoration: none;
}

.footer__link:last-child {
    margin-right: 0;
}

@media (max-width: 1279px) {
    .footer {
        padding: 80px 30px 20px;
    }
}

@media (max-width: 767px) {
    .footer {
        font-size: 12px;
        grid-template-areas:
        "title"
        "navigation"
        "year";
        grid-template-columns: 1fr;
        line-height: 1.25;
        padding: 80px 10px 10px;
        row-gap: 30px;
    }

    .footer__year {
        justify-self: center;
    }

    .footer__navigation {
        align-items: center;
        justify-self: center;
        flex-direction: column;
    }

    .footer__link {
        margin-bottom: 12px;
        margin-right: 0;
    }

    .footer__link:last-child {
        margin-bottom: 0;
    }
}
