.switcher {
    align-items: center;
    background-color: #343434;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: start;
    height: 20px;
    padding: 0 2px;
    transition: all .5s;
    width: 36px;

}

.switcher__indicator {
    background-color: #B22222;
    border: 1px solid #fff;
    border-radius: 50%;
    box-sizing: border-box;
    height: 16px;
    transition: all .1s;
    width: 16px;
}

.switcher__indicator_checked {
    background-color: #2BE080;
}

.switcher_checked {
    justify-content: end;
}
