@import "../../vendor/fonts/fonts.css";

.techniques {
    background-color: #272727;
    padding: 100px 70px;
}

.techniques__title {
    margin: 0 0 90px;
}

.techniques__description {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 0 100px;
}

.techniques__description-title {
    color: #fff;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: -0.04em;
    line-height: 1.16;
    margin: 0 0 26px;
    max-width: 600px;
    text-align: center;
}

.techniques__description-text {
    color: #fff;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.04em;
    line-height: 1.43;
    margin: 0;
    max-width: 460px;
    text-align: center;
}

.techniques__list {
    display: grid;
    justify-content: center;
    gap: 10px 10px;
    grid-template-columns: repeat(auto-fit, 90px);
    list-style: none;
    margin: 0;
    padding: 0;
}

.techniques__list-item {
    margin: 0 10px 0 0;
}

.techniques__list-item:last-child {
    margin-right: 0;
}

.techniques__link {
    background-color: #303030;
    border-radius: 10px;
    color: #fff;
    display: block;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.04em;
    line-height: 1;
    padding: 21px 0;
    text-align: center;
    text-decoration: none;
    transition: all .2s;
}

.techniques__link:hover {
    opacity: .6;
}

@media (max-width: 1279px) {
    .techniques {
        padding: 90px 50px;
    }

    .techniques__title {
        margin: 0 0 80px;
    }

    .techniques__description {
        margin: 0 0 83px;
    }

    .techniques__description-title {
        margin: 0 0 22px;
    }

    .techniques__description-text {
        font-size: 12px;
        line-height: 1.5;
    }

    .techniques__list {
        grid-template-columns: repeat(auto-fit, 84px);
    }

    .techniques__link {
        font-size: 12px;
        min-width: 84px;
    }
}

@media (max-width: 767px) {
    .techniques {
        padding: 70px 18px;
    }

    .techniques__title {
        margin: 0 0 60px;
    }

    .techniques__description {
        margin: 0 0 50px;
    }

    .techniques__description-title {
        font-size: 30px;
        line-height: 1.2;
        margin: 0 0 24px;
    }

    .techniques__description-text {
        font-size: 11px;
        line-height: 1.45;
    }

    .techniques__list {
        padding: 0 53px;
    }

    .techniques__list-item {
        margin: 0;
    }

    .techniques__link {
        font-size: 12px;
    }
}
