@import "../../vendor/fonts/fonts.css";

.search-form__input {
    border: none;
    color: #8B8B8B;
    background-color: #202020;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    padding: 0;
    width: 80%;
}

.search-form__input {
    outline: none;
}