.all-movies-card-list {
    background-color: #202020;
    display: grid;
    grid-gap: 32px 28px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 70px 70px 10px;
}

@media (max-width: 1279px) {
    .all-movies-card-list {
        grid-gap: 35px 24px;
        padding: 70px 30px 30px;
    }
}

@media (max-width: 767px) {
    .all-movies-card-list {
        grid-gap: 16px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        padding: 40px 10px 30px;
    }
}